@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@500&family=Montserrat&family=Open+Sans:wght@500&family=Rubik:wght@300;400;500;600;700;800&display=swap');

body{ 
  background-color: black; 
  color: white;
  font-family: 'Rubik';
}
a{
  text-decoration: none;
  color: white;
}
h1{
  font-size: 4rem;
  font-weight: 400;
}

h2{
  font-weight: 200;
  font-size: 2rem;
}

.btn{
  margin-right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  padding:1rem;
  min-width: 200px;
  border: 0px;
  border-radius: 5px;
  color: white;
  background-color: #4e3103;
  opacity: 1;
  transition: 0.3s ease;
}

.btn:hover{
  color:  #5a420d;
  background-color: white;
  letter-spacing: 0.3rem;
  font-weight: 700;
}

input{
  width: 100%;
  padding: 1rem;
  border: 0px;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  background-color: #1e1912;
  opacity: 1;
  transition: 0.3s ease;
}

textarea{
  resize: vertical !important ;
  width: 100%;
  height: 30%;
  padding: 1rem;
  border: 0px;
  border-radius: 20px;
  font-size: 1.5rem;
  color: white;
  background-color: #1e1912;
  opacity: 1;
  transition: 0.3s ease;
}